In [39]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

In [2]:
train_leak = pd.read_csv('./leak/train_leak.csv')

In [3]:
train_leak.head(10)

,leaked_target_0,leaked_target_1,leaked_target_2,leaked_target_3,leaked_target_4,leaked_target_5,leaked_target_6,leaked_target_7,leaked_target_8,leaked_target_9,...,leaked_target_29,leaked_target_30,leaked_target_31,leaked_target_32,leaked_target_33,leaked_target_34,leaked_target_35,leaked_target_36,leaked_target_37,compiled_leak
0,38000000.0,38000000.0,38000000.0,NaN,38000000.0,NaN,38000000.0,NaN,NaN,NaN,...,38000000.0,NaN,38000000.0,NaN,38000000.0,38000000.0,NaN,NaN,NaN,38000000.0
1,600000.0,NaN,NaN,NaN,NaN,NaN,600000.0,NaN,600000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600000.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000000.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,2800000.0,NaN,NaN,NaN,2800000.0,NaN,NaN,...,NaN,NaN,NaN,2800000.0,NaN,NaN,NaN,NaN,NaN,2800000.0
6,NaN,NaN,NaN,164000.0,NaN,164000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,164000.0,NaN,NaN,164000.0
7,600000.0,NaN,NaN,NaN,NaN,NaN,600000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600000.0
8,979000.0,979000.0,979000.0,979000.0,979000.0,979000.0,NaN,NaN,NaN,979000.0,...,NaN,979000.0,NaN,NaN,979000.0,979000.0,979000.0,NaN,979000.0,979000.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,460000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,460000.0

In [4]:
train = pd.read_csv('./train.csv')

In [6]:
print(sum(train_leak['compiled_leak'] == train['target'])/sum(train_leak['compiled_leak'].notna()))

0.9854115056427195

In [7]:
test_leak = pd.read_csv('./leak/test_leak.csv')

In [13]:
test = pd.read_csv('./test.csv')

In [16]:
test['target'] = test_leak['compiled_leak']
item_leaked = test[test['target'].notna()]
test_new = test[test['target'].isna()]
train_new = pd.concat([train,item_leaked])

In [29]:
print(train_new.shape)
print(test_new.shape)

(12294, 4993)
(41507, 4992)

In [27]:
train_new.to_csv('train_new.csv',index=False)
test_new.to_csv('test_new.csv',index=False)

,001476ffa,0019109c4,0022de2b3,0024cd760,002d634dc,00302fe51,003da5628,006e72749,007d71f12,007ee91d1,...,ffa6b80e2,ffa903344,ffb34b926,ffca57b7b,ffcec956f,ffd2f9409,ffd50f0bf,ffdc4bcf8,ffec49dae,target
49287,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,100000.0,0.0,0.0,0.0,2004666.66
49289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26000000.00
49291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4600000.00
49294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,339000.00
49297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000000.00
49309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,360000.00
49314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6535000.00
49325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,12000000.0,0.0,0.0,16000000.00
49326,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20000000.00
49332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000000.00

In [35]:
test_prediction = pd.read_csv('./leak_as_train.csv')

In [44]:
test['target'] = np.nan
result = test[['ID','target']]

          ID  target
0  000137c73     NaN
1  00021489f     NaN
2  0004d7953     NaN
3  00056a333     NaN
4  00056d8eb     NaN
5  0005fc190     NaN
6  000787e86     NaN
7  0008510a0     NaN
8  000895faf     NaN
9  000986fba     NaN

In [31]:
result.loc[test_leak['compiled_leak'].notna(),'target'] = test_leak.loc[test_leak['compiled_leak'].notna(),'compiled_leak']

In [45]:
result[result['target'].isna()] = test_prediction['target']

/Users/minjielu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

ValueError: Must have equal len keys and value when setting with an iterable

In [33]:
test.shape

(49342, 4993)

In [34]:
test_prediction.shape

(41507, 2)